* {
    box-sizing: border-box;     /* Sirve para que los elementos no se salgan del contenedor padre */
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

nav {
    background: #222;
    padding: 0 15px;
}

a { 
    color: white;
    text-decoration: none;
}

.menu,
.sub-menu{
    list-style-type: none;
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.item{
    padding: 10px;
}
.item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}



/* Mobile Menu */

.menu { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.menu li.sub-item a {
    padding: 15px;
}

.toggle { 
    order: 1;
    font-size: 20px;
}

.item.button {
    order: 2;
}

.item {
    order: 3;
    /* Con esto hacemos que los elementos ocupen todo el hancho, haciendo que el menus se vea de arriba a bajo */
    width: 100%;
    text-align: center;
    /* display: none; */
}

/* Esto no se que hace */
.active .item {
    display: block;
}

.button.secondary{ /* Divisor entre botones y links del menu*/ 
    border-bottom: 1px #444 solid;
}


/* Submenu up from mobile screens*/
.sub-menu{ 
    display: none;
}

.sub-menu-active .sub-menu{
    display: block;
}


.has-sub-menu i {
    font-size: 12px;
}

.has-sub-menu > a::after{ /* Esto son las flechitas que aparecen despues de Services y Plans*/
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: white;
    padding-left: 5px;
}

.sub-item a {
    padding: 10px 15px;
}

.sub-menu-active {
    background-color: red;
    border-radius: 3px;
}